
       <!-- main header -->
        <header class="main-header header__style__one two">
            <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="" routerLink="/main-dashboard"><img src="assets/images/logo.png" alt=""></a></figure>
                        </div>
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix home-menu">
                                        <li><a href="#" routerLink="/main-dashboard">Home</a>
                                            <!-- <ul>
                                                <li><a href="index-2.html">Home One </a></li>
                                                <li><a href="index-3.html">Home Two </a></li>
                                                <li><a href="index-4.html">Home Three </a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="" routerLink="main-dashboard/about">About  </a></li>
                                        <li class="dropdown"><a routerLink="main-dashboard/services" href="#">Services </a>
                                            <ul>
                                                <li><a href="" routerLink="main-dashboard/services/1">Visual Production </a></li>
                                                <li><a href="" routerLink="main-dashboard/services/1">Post-Production </a></li>
                                                <li><a href="" routerLink="main-dashboard/services/1">AI & Machine Learning </a></li>
                                                <li><a href="" routerLink="main-dashboard/services/1">Brand & Influencer Content </a></li>
                                                <!-- <li><a href="service-details.html">Services Details</a></li> -->
                                            </ul>
                                        </li>
                                        <!-- <li class="dropdown"><a href="#">Page</a>
                                            <ul>
                                                <li class="dropdown"><a href="#">Projects </a>
                                                    <ul>
                                                        <li><a href="projects.html">Projects </a></li>
                                                        <li><a href="projects-details.html">Projects Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="team.html">Team</a></li>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="404.html">404 Page</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="#" routerLink="main-dashboard/blog">Blog</a>
                                            <!-- <ul>
                                                <li><a href="blog.html">Blog </a></li>
                                                <li><a href="blog-details.html">Blog Details</a>
                                            </ul> -->
                                        </li>  
                                        <li><a href="" routerLink="main-dashboard/contact">Contact</a></li> 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- <div class="btn-box">
                            <a href="contact.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> Discuses</a>
                        </div> -->
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="index-2.html"><img src="assets/images/logo.png" alt=""></a></figure>
                        </div>
                        <div class="menu-area clearfix">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <!-- <div class="btn-box">
                            <a href="contact.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> Discuses</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="icon-fa-times"></i></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index-2.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info&#64;example.com">info&#64;lensverse.in</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Mobile Menu -->