 <!-- page-title -->
        <section class="page__title p_relative mt-0">
            <div class="bg-layer" style="background-image:url(assets/images/resource/page-title-bg.jpg)"></div>
            <div class="auto-container">
                <div class="content__box p_relative">
                    <ul class="bread__crumb">
                        <li><a href="" routerLink="/home">Home</a></li>
                        <li> <span> <i class="icon-05"></i> </span>{{ paragraph }} </li>
                    </ul>
                    <h1 class="title pt-5 mt-5">{{ title }}</h1>
                </div>
            </div>
        </section>
<!-- page-title end-->