/* template-color */

.handle-preloader{
	background: linear-gradient(224deg, #800599 0%, #e04726 100%);
}
.handle-preloader.home-2{
	background: -webkit-linear-gradient(0deg, #41a0ea, #f18e95 75%);
}
.theme-btn-one {
	background: linear-gradient(219deg, #e04726 0%, #910694 100%);
}
.theme-btn-one:before {
    background: linear-gradient(219deg, #e04726 0%, #910694 100%);
}
