        
        <!-- about-two-section -->
        <section class="about___two p_relative see__pad">
            <div class="pattern-layer">
                <div class=" pattern-1 p_absolute" data-parallax='{"x": -100}' style="background-image: url(assets/images/shapes/shape-07.png);"></div>
            </div>
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="about__two__img__block p_relative">
                            <figure>
                                <img src="assets/images/resource/about-two.jpg" alt="">
                            </figure>
                            <div class="about__two__circle ">
                                <div class="pattern-layer">
                                    <div class=" pattern-2 p_absolute" data-parallax='{"y": 30}' style="background-image: url(assets/images/shapes/shape-08.png);"></div>
                                </div>
                                <div class="circle-main">
                                    <div class="circle">
                                        <img src="assets/images/resource/02.png" alt="">
                                        <div class="round-text">
                                            <div class="text_1">
                                                <p class="text_2">years experience 3 years experience</p>
                                            </div>
                                        </div>                        
                                    </div>
                                </div>
                            </div>
                            <div class="about__text__two">
                                <img src="assets/images/resource/02.png" alt="">
                                <h4>Best IT <span>2025</span> </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12"></div>
                    <div class="col-lg-5 col-md-12">
                        <div class="about__text__block">
                            <div class="sub__title">
                                <h4>About Company</h4>
                            </div>
                            <div class="title two">
                                <h2>Redefining Brand Experiences through Innovation & <span>Technology</span>.</h2>
                            </div>
                            <div class="texts">
                                <p>Lensverse is a next-generation creative agency and AI-integrated production house delivering world-class visuals through advanced technology, innovative storytelling, and a full-stack service suite. </p>
                                <p>Trusted By: MakeMyTrip, Maruti Suzuki, Tata, Hyundai, Indigo, Bhutani Infra, M3M, Gaurs Group, OYO, Awfis <br>
                                In Association With: Ministry of Tourism, India, Archaeological Survey of India
                                </p>
                            </div>
                            <div class="content_block_three">
                                <div class="content-box p_relative ">
                                    <div class="progress-inner   ">
                                        <div class="progress-box   ">
                                            <h6>Visual Production :</h6>
                                            <div class="bar">
                                                <div class="bar-inner count-bar" data-percent="95%"></div>
                                                <div class="count-text"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box p_relative d_block mb_35">
                                            <h6>Post-Production :</h6>
                                            <div class="bar">
                                                <div class="bar-inner count-bar" data-percent="70%"></div>
                                                <div class="count-text"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box p_relative d_block">
                                            <h6>AI & Machine Learning Content :</h6>
                                            <div class="bar">
                                                <div class="bar-inner count-bar" data-percent="90%"></div>
                                                <div class="count-text"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-box">
                                <a href="" routerLink="/home/about" class="theme-btn theme-btn-one"><i class="icon-02"></i> About more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-two-section-end -->

        <!-- service-two-section -->
        <section class="service__two p_relative">
            <div class="pattern-layer">
                <div class=" pattern-1 p_absolute" data-parallax='{"x": 100}' style="background-image: url(assets/images/shapes/shape-09.png);"></div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="service__block__two p_relative">
                        <div class="service__image" style="background-image: url(assets/images/shapes/shape-10.png);">
                            
                        </div>
                        <div class="service__icon">
                            <div class="service__number">
                                <h1>01</h1>
                            </div>
                            <i class="icon-04"></i>
                        </div>
                        <div class="service__text">
                            <h4><a href="" routerLink="/home/services/1">Visual Production</a></h4>
                            <p>High-quality corporate photography & videography.</p>
                        </div>
                        <div class="service__button__two">
                            <a href="" routerLink="/home/services/1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="service__block__two p_relative">
                        <div class="service__image" style="background-image: url(assets/images/shapes/shape-10.png);">
                            
                        </div>
                        <div class="service__icon">
                            <div class="service__number">
                                <h1>02</h1>
                            </div>
                            <i class="icon-08"></i>
                        </div>
                        <div class="service__text">
                            <h4><a href="" routerLink="/home/services/2">Post-Production</a></h4>
                            <p>Editing, color grading, motion & cinematic finishing.</p>
                        </div>
                        <div class="service__button__two">
                            <a href="" routerLink="/home/services/2">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="service__block__two p_relative">
                        <div class="service__image" style="background-image: url(assets/images/shapes/shape-10.png);">
                            
                        </div>
                        <div class="service__icon">
                            <div class="service__number">
                                <h1>03</h1>
                            </div>
                            <i class="icon-12"></i>
                        </div>
                        <div class="service__text">
                            <h4><a href="" routerLink="/home/services/3">AI & Machine Learning Content </a></h4>
                            <p>Smart, AI-powered creative storytelling.</p>
                        </div>
                        <div class="service__button__two">
                            <a href="" routerLink="/home/services/3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12  wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="service__block__two p_relative">
                        <div class="service__image" style="background-image: url(assets/images/shapes/shape-10.png);">
                            
                        </div>
                        <div class="service__icon">
                            <div class="service__number">
                                <h1>04</h1>
                            </div>
                            <i class="icon-04"></i>
                        </div>
                        <div class="service__text">
                            <h4><a href="" routerLink="/home/services/4">Brand & Influencer Content</a></h4>
                            <p>Engaging content for brands & creators.</p>
                        </div>
                        <div class="service__button__two">
                            <a href="" routerLink="/home/services/4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-two-section-end -->

        <!-- choose-two-section -->
        <section class="choose___two see__pad p_relative">
            <div class="pattern-layer">
                <div class=" pattern-1 p_absolute" data-parallax='{"x": -75}' style="background-image: url(assets/images/resource/choose-04.png);"></div>
            </div>
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-5 col-md-16">
                        <div class="choose_img__block">
                            <div class="title__data">
                                <div class="sub__title">
                                    <h4>Why choose us</h4>
                                </div>
                                <div class="title">
                                    <h2>Our Approach</h2>
                                </div>
                            </div>
                            <div class="choose_img__two p_relative">
                                <div class="pattern-layer">
                                    <div class=" pattern-3 p_absolute" data-parallax='{"y": 10}' style="background-image: url(assets/images/shapes/shape-11.png);"></div>
                                </div>
                                <div class="pattern-layer">
                                    <div class=" pattern-4 p_absolute" data-parallax='{"y": -10}' style="background-image: url(assets/images/shapes/shape-12.png);"></div>
                                </div>
                                <figure class="wow zoomIn animated animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: zoomIn;">
                                    <img src="assets/images/resource/choose-03.png" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-16">
                        <div class="choose__text__block">
                            <h2>Powering Brands with Creativity & Technology.</h2>
                            <div class="normal__text">
                                <p>At Lensverse, we don’t just deliver visuals — we craft impactful stories backed by AI-driven workflows, cinematic production, and creative strategy. With a proven track record across leading brands and institutions, we help businesses stand out in a competitive world.</p>
                            </div>
                            <div class="customaize__solution">
                                <div class="customaize__block">
                                    <h5>Cutting-Edge Technology:</h5>
                                    <p>AI & Machine Learning integrated workflows for precision and scalability. </p>
                                </div>
                                <div class="customaize__block">
                                    <h5>Creative Excellence:</h5>
                                    <p>A team of experts delivering cinematic visuals and powerful storytelling. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- choose-two-section-end -->

        <!-- brand-section -->
        <!-- <div class="brand__section_two p_relative">
            <div class="feature-three__wrap">
                <ul class="list-unstyled feature-three__list">
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  App Development <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  Technology <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  IT Services <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  App Development <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  Technology <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  IT Services <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  App Development <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  Technology <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  IT Services <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  App Development <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  Technology <span>*</span></h2>
                        </div>
                    </li>
                    <li>
                        <div class="feature-three__title-box">
                            <h2 class="feature-three__title">  IT Services <span>*</span></h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->
        <!-- brand-section-end -->

        <!-- accomplised-section -->
        <section class="accomplised__section__two see__pad">
            <div class="auto-container">
                <div class="accomplised__data two p_relative">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="title__data">
                                <div class="sub__title">
                                    <h4>What we've accomplised</h4>
                                </div>
                                <div class="title">
                                    <h2>We pride ourselves on <br> our excellent support <br> and service</h2>
                                </div>
                            </div>
                            <div class="btn-box">
                                <a href="" routerLink="/home/contact" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 col-md-12">
                            <div class="funfact__data">
                                <div class="funfact__content one">
                                    <div class="count-outer count-box">
                                        <span>+</span>
                                        <h1 class="count-text" data-speed="1500" data-stop="4.9">10</h1>
                                        <span class="two">*</span>
                                    </div>
                                    <p> Creative Impact</p>
                                </div>
                                <div class="funfact__content two">
                                    <div class="count-outer count-box">
                                        <span>+</span>
                                        <h1 class="count-text" data-speed="1500" data-stop="4.9">100</h1>
                                        <span class="two"></span>
                                    </div>
                                    <p>Brands Transformed</p>
                                </div>
                                <div class="funfact__content three">
                                    <div class="count-outer count-box">
                                        <span>+</span>
                                        <h1 class="count-text" data-speed="1500" data-stop="30">85</h1>
                                        <span class="two">%</span>
                                    </div>
                                    <p>Faster Delivery</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- accomplised-section-end -->
 <!-- team-section -->
        <section class="team__section see__pad p_relative">
            <div class="pattern-layer">
                <div class="pattern-3 p_absolute" data-parallax='{"y": 50}' style="background-image: url(assets/images/shapes/shape-03.png);"></div>
            </div>
            <div class="auto-container">
                <div class="title__data">
                    <div class="sub__title">
                        <h4>Our Clients</h4>
                    </div>
                    <div class="title">
                        <h2>Proud to Partner with Global Brands</h2>
                    </div>
                </div>
                <div class="content_clients" >
                    <div id="clientCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let group of groupedLogos; let i = index" [class.active]="i === 0">
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="client-slide" *ngFor="let logo of group">
                                <img [src]="logo.src" [alt]="logo.alt" />
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- Optional Controls -->
                        <!-- <a class="carousel-control-prev" href="#clientCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#clientCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a> -->
                    </div>


                    <!-- <div class="col-lg-2 col-md-3 col-sm-12" *ngFor="let img of CliensLogo">
                        <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="team_logos">
                                <figure>
                                <img [src]="img.src" [alt]="img.alt" class="img-fluid" />
                                </figure>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- team-section-end -->
        <!-- blog-section -->
        <!-- <section class="blog__section two see__pad p_relative">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="title__data">
                            <div class="sub__title">
                                <h4>Latest News </h4>
                            </div>
                            <div class="title">
                                <h2>Learn From Blog</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="normaol__text">
                            <p>Our dedicated team of technology professionals comprises experienced engineers, developers, and researchers who are passionate about pushing the boundaries of technology.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-1.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2025</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-2.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2025</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-3.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2025</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- blog-section-end -->

       
