<!-- footer-one -->
        <footer class="main__footer">
            <div class="footer-top two">
                <div class="auto-container">
                    <div class="top-inner">
                        <div class="left__top">
                            <h3>Your Gateway to Creative & AI-Driven Production</h3>
                        </div>
                        <div class="right__top">
                            <div class="btn-box">
                                <a href="" routerLink="/home/contact" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__one">
                <div class="footer-widget-section">
                    <div class="auto-container">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget footer-logo-widget wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <figure class="footer-logo">
                                        <a href="" routerLink="/home"><img src="assets/images/logo.svg" alt=""></a>
                                    </figure>
                                    <div class="text">
                                        <p>At Lensverse, we don’t just deliver visuals — we craft impactful stories backed by AI-driven workflows, cinematic production, and creative strategy.</p>
                                    </div>
                                    <div class="btn-box">
                                        <a href="" routerLink="/home/about" class="theme-btn theme-btn-one"><i class="icon-02"></i> About Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget news-letter-widget ml_80 wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <div class="widget-title">
                                        <h4>Newletter</h4>
                                    </div>
                                    <div class="text">
                                        <p>Seamlessly adapt to your workflow, reducing downtime and boosting efficiency.</p>
                                    </div>
                                    <div class="subscribe-inner">
                                        <form action="https://html.themenests.com/datamatrix/contact.html" method="post" class="subscribe-form">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="Your mail address *" required="">
                                                <div class="btn-box">
                                                    <button class="theme-btn theme-btn-one" type="submit"><i class="icon-02"></i> GO</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget office-widget wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                                    <div class="widget-title">
                                        <h4>Official info:</h4>
                                    </div>
                                    <div class="widget-content">
                                        <div class="text">
                                            <p>Gurgaon, India, 122103</p>
                                        </div>
                                        <div>
                                            <a href="tell:+918468895724">+91 84688 95724</a>
                                        </div>
                                        <div>
                                            <a href="mailto:connect&#64;lensverse.in">connect&#64;lensverse.in</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column pr-0">
                                <div class="footer-widget gallery-widget wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <div class="widget-title">
                                        <h4>Gallery</h4>
                                    </div>
                                    <div class="widget_content">
                                        <ul class="instagram_list clearfix">
                                            <li>
                                                <div class="inner__box">
                                                    <div class="image__box">
                                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/resource/gallery-01.png"><img src="assets/images/resource/gallery-01.png" alt=""></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner__box">
                                                    <div class="image__box">
                                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/resource/gallery-02.png"><img src="assets/images/resource/gallery-02.png" alt=""></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner__box">
                                                    <div class="image__box">
                                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/resource/gallery-03.png"><img src="assets/images/resource/gallery-03.png" alt=""></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner__box">
                                                    <div class="image__box">
                                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/resource/gallery-04.png"><img src="assets/images/resource/gallery-04.png" alt=""></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner__box">
                                                    <div class="image__box">
                                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/resource/gallery-05.png"><img src="assets/images/resource/gallery-05.png" alt=""></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="inner__box">
                                                    <div class="image__box">
                                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/resource/gallery-06.png"><img src="assets/images/resource/gallery-06.png" alt=""></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="auto-container">
                        <div class="bottom-inner">
                            <div class="copyright">
                                <p>© 2019 <a href="" routerLink="/home">Lensverse.</a>  All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-one end -->

        <!--Scroll to top-->
        <div class="scroll-to-top">
            <div>
                <div class="scroll-top-inner">
                    <div class="scroll-bar">
                        <div class="bar-inner"></div>
                    </div>
                    <div class="scroll-bar-text g_color">Go To Top</div>
                </div>
            </div>
        </div>
        <!-- Scroll to top end -->

    <a href="https://wa.me/918468895724?text=   " 
        target="_blank" 
        class="whatsapp-btn">
        Chat on WhatsApp 
    </a>