    <app-inner-banner title="Our Gallery" paragraph="Our Gallery"></app-inner-banner>
    <!-- Gallery-page -->
    <div class="project__page p_relative see__pad">
        <div class="row">
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-01.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-02.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-03.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-04.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-05.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-06.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-07.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 colsm-12">
                <div class="portfolio__block p_relative">
                    <div class="portfolio__image">
                        <figure>
                            <img src="assets/images/resource/portfolio-08.jpg" alt="">
                        </figure>
                    </div>
                    <div class="lower__content p_absolute">
                        <div class="protfolio__text">
                            <div class="text__block">
                                <h4>Sustainability</h4>
                                <p>Design</p>
                            </div>
                            <div class="text__block_two">
                                <h5>2019</h5>
                            </div>
                        </div>
                        <div class="protfolio__button">
                            <a href="" class="theme-btn theme-btn-one"> View images<i class="icon-02"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery end-->