
.portfolio__block {
  position: relative;
  .portfolio__image img {
    width: 100%;
    object-fit: cover;
  }
  .lower__content {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px;
    .protfolio__button button {
      cursor: pointer;
    }
  }
}
