<app-service-banners
  [title]="'All Services'"
  [paragraph]="'Explore our full list of services below.'">
</app-service-banners>

<!-- Service List Section -->
<div class="service__details p_relative">
  <div class="auto-container">
    <div class="row">
      <!-- Only Left Column -->
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="service__details__left">
          <div class="sidebar__widget">
            <div class="all__service">
              <h4>All Services</h4>
            </div>

            <ul class="service__details__1__cat">
              <li *ngFor="let service of allServices">
                <a [routerLink]="['/home/services', service.id]">
                  {{ service.title }}
                  <i class="icon-02" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>

          <div
            class="sidebar__widget_network"
            style="background-image: url(assets/images/resource/base.png);">
            <h3>Contact Us For Any Requirement</h3>
            <div class="services__icon">
              <i class="icon-19" aria-hidden="true"></i>
            </div>
            <p>Need help? Call us:</p>
            <a href="tel:+918468895724"><h4>+91 84688 95724</h4></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="service__contact see__pad p_relative">
  <div class="auto-container">
    <div class="service__contact__block">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="service__form__data">
            <div class="form__title">
              <div class="title__data">
                <div class="sub__title"><h4>Contact Us</h4></div>
                <div class="title"><h2>Send message</h2></div>
              </div>
            </div>
            <div class="form-inner">
              <form method="post" action="https://html.themenests.com/datamatrix/contact.php" class="default-form">
                <div class="row clearfix">
                  <div class="col-xl-6 form-group">
                    <input type="text" name="name" placeholder="Your Name *" required />
                  </div>
                  <div class="col-xl-6 col-lg-12 form-group">
                    <input type="email" name="email" placeholder="Your Email *" required />
                  </div>
                  <div class="col-xl-6 col-lg-12 form-group">
                    <input type="text" name="subject" placeholder="Your Subject" required />
                  </div>
                  <div class="col-xl-6 col-lg-12 form-group">
                    <input type="text" name="phone" placeholder="Your Phone" required />
                  </div>
                  <div class="col-xl-12 col-lg-12 form-group">
                    <textarea name="message" placeholder="Message"></textarea>
                  </div>
                  <div class="col-xl-12 form-group message-btn btn-box">
                    <button class="theme-btn theme-btn-one" type="submit" name="submit-form">
                      Send your Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="service__contact__img">
            <figure>
              <img src="assets/images/resource/man.png" alt="contact illustration" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
