        <app-inner-banner title="About Us" paragraph="About Us"></app-inner-banner>
        <!-- about -->
        <section class="about__section about__page p_relative see__pad">
            <div class="pattern-layer">
                <div class="pattern-2 p_absolute" data-parallax='{"x": -50}' style="background-image: url(assets/images/shapes/shape-02.png);"></div>
            </div>
            <div class="boild__text">
                <h1>Lensverse</h1>
            </div>
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about__block p_relative">
                            <figure class="wow zoomIn animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <img src="assets/images/resource/about-us.png" alt="">
                            </figure>
                            <div class="funfact__content about" style="background-image: url(assets/images/shapes/shape-01.png);">
                                <div class="count-outer count-box">
                                    <h1 class="count-text" data-speed="1500" data-stop="2">0</h1>
                                    <span>K+</span>
                                </div>
                                <p>World wide Client</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 col-md-12">
                        <div class="about__text__block">
                            <div class="sub__title">
                                <h4>About Company</h4>
                            </div>
                            <div class="title two">
                                <h2>Enhancing Real-world Experiences with AR <span>Technology</span>.</h2>
                            </div>
                            <div class="texts">
                                <p>The applications of AR are vast and diverse. From entertainment and gaming, where users can see virtual characters in their surroundings, to education, where complex subjects can be visualized and explained in an immersive way,.</p>
                            </div>
                            <div class="btn-box">
                                <a href="about.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> About more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-end -->

        <!-- choose -->
        <section class="choose__us p_relative">
            <div class="choose__us__data">
                <div class="auto-container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="choose__block">
                                <figure>
                                    <img src="assets/images/resource/choose-01.png" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="choose__block__right">
                                <div class="title__data">
                                    <div class="sub__title">
                                        <h4>Why choose us</h4>
                                    </div>
                                    <div class="title">
                                        <h2>We Provide Your Best Work </h2>
                                    </div>
                                </div>
                                <div class="team__data">
                                    <div class="team__data__left">
                                        <img src="assets/images/resource/choose-02.svg" alt="">
                                    </div>
                                    <div class="team__data__right">
                                        <h3>Expert Team :</h3>
                                        <p>Our dedicated team of technology professionals comprises experienced engineers, developers, and researchers who are passionate about pushing the boundaries of technology.</p>
                                    </div>
                                </div>
                                <div class="team__data">
                                    <div class="team__data__left">
                                        <img src="assets/images/resource/choose-02.svg" alt="">
                                    </div>
                                    <div class="team__data__right">
                                        <h3>Expert Team :</h3>
                                        <p>Our dedicated team of technology professionals comprises experienced engineers, developers, and researchers who are passionate about pushing the boundaries of technology.</p>
                                    </div>
                                </div>
                                <div class="team__data three">
                                    <div class="team__data__left">
                                        <img src="assets/images/resource/choose-02.svg" alt="">
                                    </div>
                                    <div class="team__data__right">
                                        <h3>Expert Team :</h3>
                                        <p>Our dedicated team of technology professionals comprises experienced engineers, developers, and researchers who are passionate about pushing the boundaries of technology.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- choose-end -->

        <!-- team-section -->
        <section class="team__section see__pad p_relative">
            <div class="pattern-layer">
                <div class="pattern-3 p_absolute" data-parallax='{"y": 50}' style="background-image: url(assets/images/shapes/shape-03.png);"></div>
            </div>
            <div class="auto-container">
                <div class="title__data">
                    <div class="sub__title">
                        <h4>Team Members</h4>
                    </div>
                    <div class="title">
                        <h2>We Have Expert Member</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team__block wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="team__img">
                                <figure>
                                    <img src="assets/images/resource/team-01.png" alt="">
                                </figure>
                            </div>
                            <div class="team__name">
                                <h3>Annette Black</h3>
                            </div>
                            <div class="team__media">
                                <ul>
                                    <li><a href="#">FB.</a></li>
                                    <li><a href="#">TW.</a></li>
                                    <li><a href="#">LI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team__block wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="team__img">
                                <figure>
                                    <img src="assets/images/resource/team-02.png" alt="">
                                </figure>
                            </div>
                            <div class="team__name">
                                <h3>Kristin Watson</h3>
                            </div>
                            <div class="team__media">
                                <ul>
                                    <li><a href="#">FB.</a></li>
                                    <li><a href="#">TW.</a></li>
                                    <li><a href="#">LI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team__block wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="team__img">
                                <figure>
                                    <img src="assets/images/resource/team-03.png" alt="">
                                </figure>
                            </div>
                            <div class="team__name">
                                <h3>Devon Lane</h3>
                            </div>
                            <div class="team__media">
                                <ul>
                                    <li><a href="#">FB.</a></li>
                                    <li><a href="#">TW.</a></li>
                                    <li><a href="#">LI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="team__block wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="team__img">
                                <figure>
                                    <img src="assets/images/resource/team-04.png" alt="">
                                </figure>
                            </div>
                            <div class="team__name">
                                <h3>Kristin Watson</h3>
                            </div>
                            <div class="team__media">
                                <ul>
                                    <li><a href="#">FB.</a></li>
                                    <li><a href="#">TW.</a></li>
                                    <li><a href="#">LI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-section-end -->

        <!-- pride-section -->
        <div class="pride__section p_relative see__pad">
            <div class="pride__layer" style="background-image:url(assets/images/resource/bg-04.jpg)"></div>
            <div class="auto-container">
                <div class="pride__block">
                    <figure>
                        <img src="assets/images/resource/icon-04.png" alt="">
                    </figure>
                    <h1>We pride ourselves on our excellent support
                        and service</h1>
                </div>
            </div>
        </div>
        <!-- pride-section-end -->
