<!-- banner-two -->
    <!-- <section class="banner__two slider-two p_relative">
        <div class="pattern-layer">
            <div class=" pattern-1 p_absolute bg-video" data-parallax='{"x": 100}' style="background-image: url(assets/images/shapes/shape-06.png);">
                
            </div>
        </div>
        <div class="image-layer p_absolute" >
            <video autoplay muted loop playsinline class="bg-video">
                <source src="assets/videos/semple.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="banner__data__two p_relative">
            <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
                <div class="slide-item p_relative">
                    <div class="auto-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="content-box p_relative">
                                    <div class="sub__title">
                                        <h4 class="p_relative"> <span class="slider-text-anim two">Better Future</span></h4>
                                    </div>
                                    <h2 class="p_relative"><span class="slider-text-anim">Where Vision Meets </span><br /> <span class="slider-text-anim title__last">Intel<span>ligence</span></span></h2>
                                    <p>AI-powered visual production and creative services for brands, creators, and businesses. </p>
                                    <div class="btn-box">
                                        <a href="/contact" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item p_relative">
                    <div class="auto-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="content-box p_relative">
                                    <div class="sub__title">
                                        <h4 class="p_relative"> <span class="slider-text-anim two">Better Future</span></h4>
                                    </div>
                                    <h2 class="p_relative"><span class="slider-text-anim">Where Stories Meet  </span><br /> <span class="slider-text-anim title__last">Inno<span>vation</span></span></h2>
                                    <p>Delivering creative production, post-production, AI integration, content strategy, and complete visual solutions for brands and businesses. </p>
                                    <div class="btn-box">
                                        <a href="contact.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item p_relative">
                    <div class="auto-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="content-box p_relative">
                                    <div class="sub__title">
                                        <h4 class="p_relative"> <span class="slider-text-anim two">Better Future</span></h4>
                                    </div>
                                    <h2 class="p_relative"><span class="slider-text-anim">Where Art Meets  </span><br /> <span class="slider-text-anim title__last">Prec<span>ision</span></span></h2>
                                    <p>Offering photography, videography, post-production, AI-powered editing, content creation, and complete visual solutions for brands and businesses. </p>
                                    <div class="btn-box">
                                        <a href="contact.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__bottom">
                <div class="row">
                    <div class="col-lg-8 col-md-12"></div>
                    <div class="col-lg-4 col-md-12">
                        <div class="banner__mission__block">
                            <div class="mission__block">
                                <h3>Our Vision</h3>
                                <p>At Lensverse, we blend creativity and technology to craft stories that inspire, connect, and elevate brands. Our vision is to set new benchmarks in visual storytelling with innovation at the core.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- banner-two-end -->

<!-- banner-two -->
        <section class="banner__two slider-two p_relative">
            <div class="pattern-layer">
                <div class=" pattern-1 p_absolute" data-parallax='{"x": 100}' style="background-image: url(assets/images/shapes/shape-06.png);"></div>
            </div>
            <div class="image-layer p_absolute" style="background-image:url(assets/images/banner/banner-two.jpg)"></div>
            <div class="banner__data__two p_relative">
                <div class="banner-carousel owl-them owl-carousel owl-dots-none">
                <div class="slide-item p_relative">
                    <div class="auto-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="content-box p_relative">
                                    <div class="sub__title">
                                        <h4 class="p_relative"> <span class="slider-text-anim two">Better Future</span></h4>
                                    </div>
                                    <h2 class="p_relative"><span class="slider-text-anim">Where Vision Meets </span><br /> <span class="slider-text-anim title__last">Intel<span>ligence</span></span></h2>
                                    <p>AI-powered visual production and creative services for brands, creators, and businesses. </p>
                                    <div class="btn-box">
                                        <a href="/contact" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item p_relative">
                    <div class="auto-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="content-box p_relative">
                                    <div class="sub__title">
                                        <h4 class="p_relative"> <span class="slider-text-anim two">Better Future</span></h4>
                                    </div>
                                    <h2 class="p_relative"><span class="slider-text-anim">Where Stories Meet  </span><br /> <span class="slider-text-anim title__last">Inno<span>vation</span></span></h2>
                                    <p>Delivering creative production, post-production, AI integration, content strategy, and complete visual solutions for brands and businesses. </p>
                                    <div class="btn-box">
                                        <a href="contact.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item p_relative">
                    <div class="auto-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="content-box p_relative">
                                    <div class="sub__title">
                                        <h4 class="p_relative"> <span class="slider-text-anim two">Better Future</span></h4>
                                    </div>
                                    <h2 class="p_relative"><span class="slider-text-anim">Where Art Meets  </span><br /> <span class="slider-text-anim title__last">Prec<span>ision</span></span></h2>
                                    <p>Offering photography, videography, post-production, AI-powered editing, content creation, and complete visual solutions for brands and businesses. </p>
                                    <div class="btn-box">
                                        <a href="contact.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="banner__bottom">
                <div class="row">
                    <div class="col-lg-8 col-md-12"></div>
                    <div class="col-lg-4 col-md-12">
                        <div class="banner__mission__block">
                            <div class="mission__block">
                                <h3>Our Vision</h3>
                                <p>At Lensverse, we blend creativity and technology to craft stories that inspire, connect, and elevate brands. Our vision is to set new benchmarks in visual storytelling with innovation at the core.</p>
                            </div>
                            <!-- <div class="mission__block">
                                <h3>Our Mission</h3>
                                <p>Providing expert guidance, contract management, regulatory assistance.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- banner-two-end -->