
<div class="boxed_wrapper">
     <!-- mouse-pointer -->
        <div class="mouse-pointer" id="mouse-pointer">
            <div class="icon"><i class="icon-06"></i><i class="icon-05"></i></div>
        </div>
        <!-- mouse-pointer end -->

        <!-- preloader -->
        <!-- <div class="loader-wrap">
            <div class="hendel__preloder">
                <div class="preloader">
                    <div class="preloader-ring">datamatrix datamatrix datamatrix</div>    
                    <div class="preloader-ring">datamatrix datamatrix datamatrix</div>
                </div>
            </div>
        </div> -->
        <!-- preloader end -->

        <app-header2></app-header2>
        <!-- <app-inner-banner></app-inner-banner> -->
        <router-outlet></router-outlet>
        <app-footer></app-footer>
</div>