        <app-inner-banner title="Contact Us" paragraph="Contact Us"></app-inner-banner>

<!-- contact-page -->
        <section class="contact__page p_relative see__pad">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-ms-12">
                        <div class="contact__left">
                            <figure>
                                <img src="assets/images/resource/contact.jpg" alt="">
                            </figure>
                            <h4>Contact Information</h4>
                            <div class="contact__info">
                                <div class="contact__block">
                                    <div class="icon">
                                        <i class="icon-19"></i>
                                    </div>
                                    <div class="contact__text">
                                        <a href="tell:+918468895724">+91 84688 95724</a> <br>
                                        <a href="tell:+918468895724">+91 84688 95724</a>
                                    </div>
                                </div>
                                <div class="contact__block">
                                    <div class="icon two">
                                        <i class="icon-20"></i>
                                    </div>
                                    <div class="contact__text">
                                        <a href="mailto:connect&#64;lensverse.in">connect&#64;lensverse.in</a> <br>
                                        <a href="mailto:connect&#64;lensverse.in">info&#64;lensverse.in</a>
                                    </div>
                                </div>
                                <div class="contact__block">
                                    <div class="icon">
                                        <i class="icon-19"></i>
                                    </div>
                                    <div class="contact__text">
                                        <a href="https://www.facebook.com/share/1EB4eWTKX7/">Facebook</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="contact__right">
                            <div class="form__title">
                                <div class="title__data">
                                    <div class="sub__title">
                                        <h4>Contact Us</h4>
                                    </div>
                                    <div class="title">
                                        <h2>Get a Free Quote</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inner">
                                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="default-form">
                                    <div class="row clearfix">
                                        <div class="col-xl-6 form-group">
                                        <input type="text" formControlName="name" placeholder="Your Name *" required>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 form-group">
                                        <input type="email" formControlName="email" placeholder="Your Email *" required>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 form-group">
                                        <input type="text" formControlName="subject" placeholder="Your Subject ">
                                        </div>
                                        <div class="col-xl-6 col-lg-12 form-group">
                                        <input type="text" formControlName="phone" placeholder="Your Phone ">
                                        </div>
                                        <div class="col-xl-6 col-lg-12 form-group">
                                        <textarea formControlName="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-xl-12 form-group message-btn btn-box">
                                        <button class="theme-btn theme-btn-one" type="submit">Send your Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-page end-->

        <!-- google-map -->
        <div class="google__map">
            <figure>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112500.90980692807!2d77.0480453186917!3d28.217840263046256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d256eb7453553%3A0x46e1a41b4505a9c6!2sAtta%2C%20Haryana%20122103!5e0!3m2!1sen!2sin!4v1758607375676!5m2!1sen!2sin" width="100%" height="380px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- <img src="assets/images/resource/map.jpg" alt=""> -->
            </figure>
        </div>
        <!-- google-map -->